html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  background-color: #bfbfbf;
  background-image: url('assets/images/mario-background.png');
  background-size: cover;
  background-position: bottom;
}

/*font-family: 'VT323', monospace;*/
